@charset "utf-8";
/* CSS Document */
/* PC用CSS */
/*@media print, screen and (min-width: 640px) {*/
@media print, screen {

.geekhr {
  height:0px;
  border-radius: 2px;
  border: 2px solid hsl(0, 0%, 60%);
  width: 80%;
}

body {
	font-family: "メイリオ", "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	background-attachment: fixed;
	background-image: url(../img/background.gif);
	background-repeat: repeat;
	height: auto;
	text-align: center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

.white-container {
	width: 90%;
	background: #FFFFFF;
	border: 0px solid #000000;
	text-align: left;
	padding: 2px;
	padding-top: 60px;
	margin-right: auto;
	margin-bottom: 24px;
	margin-left: auto;
	height: auto;
}

/* lecture site */
.limegreen-container {
	background-color: #E1FFE1;
	margin:4px;
	padding:4px;
}

.limegreen-container p {
	font-family: "メイリオ", "ＭＳ Ｐゴシック", "Osaka";
	font-size: medium;
	font-style: normal;
	overflow:hidden;
	color: #006600;
	width: 80%;
	margin-left: 4em;
}

.limegreen-container h1 {
	text-transform: none;
	padding:0.2em;
	margin-top:1em;
	margin-left:0.5em;
	font-size: xx-large;
	color:white;
	background-color:#006600;
}

.limegreen-container h2 {
	text-transform: none;
	font-size: x-large;
	margin-top:1em;
	margin-left:1em;
	border-bottom-width: 2px;
	border-left-width: 16px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #006600;
	border-right-color: #006600;
	border-bottom-color: #006600;
	border-left-color: #006600;
	border-top-width: 0px;
	border-right-width: 0px;
	color: #006600;
	padding-left: 4px;
}

.limegreen-container h3 {
	text-transform: none;
	font-size: large;
	color: #006600;
	background-image: url(../img/i-arrowGreen.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:2em;
	font-weight: bold;
}

.limegreen-container h4 {
	text-transform: none;
	font-size: large;
	color: #006600;
	padding-left: 18px;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:2em;
	font-weight: bold;
	vertical-align: middle;
}

.limegreen-container img {
	float:left;
}

.limegreen-container ul {
	font-family: "メイリオ", "ＭＳ Ｐゴシック", "Osaka";
	font-size: medium;
	font-style: normal;
	overflow:hidden;
	color: #006600;
	width: 80%;
	margin-left: 4em;
}


/* Footer */
#footer {
	clear: both;
	padding: 2px;
	text-align:right;
	color: #666666;
	font-size: medium;
	margin: 0px;
	background-color: #999999;
}

.ovarlay-opacity {
	opacity: 0;
	background-color: #999999;
	color: green;
}

}