@charset "UTF-8";

body {
    width: 100%;
	height: 100%;
    padding-top: 80px;
	font-family: "メイリオ", "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", 'Lato', sans-serif;
	font-weight: 300;
	background-color: #E1FFE1;

    background-attachment: fixed;
	background-image: url(../img/background.gif);
	background-repeat: repeat;
}

.footer {
	clear: both;
	padding-top: 4px;
	text-align:right;
	color: #666666;
	font-size: medium;
	margin: 0px;
	background-color: #b6b6b6;
}

/* Bootstrap をカスタマイズ */
.container {
    background-color: #E1FFE1;
}

.container-fluid {
    background-color: #E1FFE1;
}


/* FunnySnowmanライムグリーンの枠内 */
.limegreen-container {
	margin: 0em;
	padding-top: 1em;
}

.limegreen-container p {
    margin: 0 0 20px;
    padding: 4px;
    font-size: 16px;
    line-height: 1.6em;
}

.limegreen-container strong {
    font-weight: bold;
}

.limegreen-container h1 {
	text-transform: none;
	padding:0.5em;
	margin-top:0.5em;
	font-size: xx-large;
	color:white;
	background-color:#006600;
}

.limegreen-container h2 {
	text-transform: none;
	font-size: x-large;
	margin-top:1em;
    padding-left: 0.5em;
	border-bottom-width: 2px;
	border-left-width: 16px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #006600;
	border-right-color: #006600;
	border-bottom-color: #006600;
	border-left-color: #006600;
	border-top-width: 0px;
	border-right-width: 0px;
	color: #006600;
}

.limegreen-container h3 {
	text-transform: none;
	font-size: large;
	color: #006600;
	background-image: url(/img/i-arrowGreen.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:1em;
	font-weight: bold;
}

.limegreen-container h4 {
	color: #006600;
	font-weight: bold;
    padding: 0px;
    margin: 0px;
}

/* トップページ・アイキャッチ画像 */
.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    width: 100vw;
    margin-bottom: 0px;
    background: url("/img/imgGeek.jpg") no-repeat center;
    background-size: cover;
}

/* Youtube */
.youtube_frame {
	position:relative;
	max-width: 560px;
	max-height: 315px;
	width:100%;
	height:0;
	padding-top:75%;
}

.youtube_frame iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

pre {
	margin: 1em 0; /* ブロック前後の余白 */
	padding: 1em; /* ブロック内の余白 */
	border-radius: 5px; /* 角丸 */
	background: #25292f; /* 背景色 */
	color: #fff; /* 文字色 */
	white-space: pre-wrap; /* はみ出たときに折り返す */
}  

table {
	border-collapse: collapse;
}
th, td {
	border: solid 1px #333; /* 線の種類 太さ 色 */
}